@model string
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_CircleLayout";
}

<section class="wrapper">
    <div class="mainContainer py-3">
        <nav style="--bs-breadcrumb-divider: &#39;&#39;;" aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center">
                <li class="breadcrumb-item"><a class="text-decoration-none textLight fs-12 medium" asp-action="Dashboard">Home</a></li>
                <li class="mx-2"><img src="/Images/forward.png" alt=""></li>
                <li class="breadcrumb-item active fs-12 medium pt-1" aria-current="page">New Administrator</li>
            </ol>
        </nav>
    </div>
    <div class="mainContainer d-flex align-items-center pb-3">
        <img src="/Images/plus.png">
        <p class="text-black fs-22 medium ps-lg-3 ps-md-2 ps-sm-2 ps-2 mb-0">New Administrator</p>
    </div>
    <div class="mainContainer py-3">
        <div class="bg-white admini-main">
            <div class="row flex-lg-row flex-sm-column-reverse flex-column-reverse">
                <div class="col-lg-9 col-md-7">
                    <div class="p-4 admini-main-bg">
                        <p class="text-black fs-16 medium">
                            Ta add new administrator, ask the new user/person
                            to scan the QR Code, with circle access app on their device
                        </p>
                        <ol class="regular pt-3">
                            <li class="fs-14 regular gray-color pb-2">
                                <span class="bold">
                                    Download the Circle Access
                                    app
                                </span>on new users phone
                            </li>
                            <li class="fs-14 regular gray-color pb-2">Open Circle Access app on your phone</li>
                            <li class="gray-color regular fs-14 pb-2">
                                Tap on <span class="bold">Scan to start</span>
                            </li>
                            <li class="fs-14 regular gray-color pb-2">
                                Click the "Show Add Admin QR Code" image.
                            </li>
                            <li class="fs-14 regular gray-color pb-2">
                                Point your phone to the screen to capture the OR code
                            </li>
                            <li class="fs-14 regular gray-color pb-2">
                                After authorization, the new user is added as an administrator to this tenant
                            </li>
                        </ol>
@*                         
                            <div class="d-flex align-items-center justify-content-lg-start  justify-content-sm-center justify-content-center">
                            <img src="/Images/play_3039386 1.png">
                            <p class="text-black medium fs-12 mb-0 ps-lg-3 ps-md-2 ps-sm-2 ps-2">
                                Circle access tutorial
                            </p>
                        </div>

 *@                     
                        <div class="admin-acces-bb my-3"></div>
                        <div class="d-flex justify-content-lg-between justify-content-md-between justify-content-sm-start justify-content-start flex-wrap">
                            <div class="d-flex align-items-center">
                                <img src="/Images/Login.png">
                                <div class="ps-lg-3 ps-md-2 ps-sm-2 ps-2">
                                    <p class="text-black fs-14 medium mb-0">Download Circle Access</p>
                                    <p class="fs-11 medium gray-color mb-0">A newer &amp; secure way to login</p>
                                </div>
                            </div>
                            <div class="d-flex pt-lg-0 pt-md-3 pt-sm-3 pt-3">
                                <a href="https://circleaccess.circlesecurity.ai/ios/">
                                    <img src="/Images/badge-apple-en 1.png" class="ps-lg-0 ps-md-0 ps-sm-3 ps-3">
                                </a>
                                <a href="https://circleaccess.circlesecurity.ai/android/">
                                    <img src="/Images/google-play.png" class="ps-3">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-5">
                    <div class="position-relative cursor-pointer pl-2">
                        <a href="javascript:void(0)" onclick="ShowAddUserQRCode()">
                            <img src="/Images/scan.png" alt="Scan-report" class="w-100">
                            <div class="scan-text position-absolute top-0 left-0 w-100 h-100 d-flex justify-content-center align-items-center text-center ">
                                <div class="text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                                        <path d="M18.3519 6.35C16.9019 4.9 14.9119 4 12.7019 4C8.28191 4 4.71191 7.58 4.71191 12C4.71191 16.42 8.28191 20 12.7019 20C16.4319 20 19.5419 17.45 20.4319 14H18.3519C17.5319 16.33 15.3119 18 12.7019 18C9.39191 18 6.70191 15.31 6.70191 12C6.70191 8.69 9.39191 6 12.7019 6C14.3619 6 15.8419 6.69 16.9219 7.78L13.7019 11H20.7019V4L18.3519 6.35Z" fill="black"></path>
                                    </svg>
                                    <p class="text-black medium fs-16">
                                        Show Add Admin QR Code
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="bg-white p-3">
        <p class="fs-14 mb-0 textLight text-lg-end text-sm-center text-center medium">
            © 2024. Circle Systems, Inc. All
            rights reserved. - Privacy
        </p>
    </div>
</footer>


<script type="text/javascript">
    function ShowAddUserQRCode() {
        location.href = '@Model';
    }
</script>
