
      <div class="title d-flex gap-3 flex-nowrap">
        <img alt="circle logo" src="~/images/c_logo.svg" />
        <span> Circle Passport </span>
      </div>
      <div class="cp-row">
        <div class="bg-white col g-4 cp_main cp_left ">
          <div>
            <p class="font-weight-500 fs-5 lh-1.5 letter-spacing-15">
              Welcome to Circle Passport
            </p>
            <p class="label-large fs-6 lh-base letter-spacing-10">
              As a new user/person please click on the instructions on right to
              view the detailed page to access and use Circle Passport
            </p>
          </div>
          <div class="d-flex gap-3 flex-nowrap align-items-center">
            <img src="~/images/word.svg" alt="word file logo" />
            <p>Circle Passport Instructions</p>
          </div>
          <div class="d-flex gap-3 flex-nowrap align-items-center">
            <img src="~/images/play.svg" alt="word file logo" />
            <p>Circle Passport tutorial</p>
          </div>
          <div
            class="d-flex gap-3 flex-wrap pt-3 border-top border-light justify-content-between align-items-center"
          >
            <div class="d-flex gap-3 flex-nowrap align-items-center">
              <img src="~/images/c_logo.svg" alt="word file logo" />
              <div>
                <p>Download Circile Passport</p>
                <p>The most secure way to store your credentials</p>
              </div>
            </div>
            <div class="d-flex gap-3 flex-nowrap align-items-center">
              <img src="~/images/apple.svg" alt="app store logo" />
              <img src="~/images/play_store.svg" alt="play store logo" />
            </div>
          </div>
        </div>
        <div class="bg-white cp_main col cp_right ">
          <p class="font-weight-500 fs-5 lh-1.5 letter-spacing-15">
            Your Subscription Plan
          </p>
  
          <form action="">
            <div class="form-group">
              <select class="custom_select border-light" disabled >
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
              </select>
            </div>
          </form>
        </div>
      </div>
  
  <style>
    .breadcrumb > li + li:before {
      content: "";
    }
  
    .breadcrumb > li + li:before {
      content: "";
    }
    p {
      margin-bottom: 0;
    }
    .navbar::before,
    .container-fluid:after, .container-fluid:before
     {
      display: none !important;
    }
  </style>
  