
.e-contextmenu-wrapper ul {
    
    background-color:#f6f8fb !important;
}
.e-contextmenu-wrapper ul .e-menu-item .e-caret::before, .e-contextmenu-container ul .e-menu-item .e-caret::before {
   display:none !important
}
   .e-contextmenu-wrapper > ul > li:nth-child(-n+4) {
            display: none;
          }
#GridOverviewstring_excelDlg {
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-top-left-radius: 25px;
    border-top-left-radius: 25px;
    top: 0 !important;
    right: 0;
    position: fixed;
    left: auto !important;
    max-height: 100vh !important;
    height: 100vh !important;
    
    width:500px !important;

    padding:18px 32px
}
.e-excelfilter .e-contextmenu-wrapper ul li, .e-excelfilter .e-contextmenu-container ul li {

    font-size: 22px;
    font-weight: 500;
}
#GridOverviewstring_excelDlg_dialog-content{
        border-radius: 8px;
    padding: 13px;
        overflow-x: hidden;
}
#GridOverviewstring_excelDlg > .e-footer-content > button:nth-child(2) {
    position: absolute;
    right:47px;
    top: 22px;
    width: 20px; 
    height: 20px; 
    background-image: url('/images/cross.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    text-indent: -9999px; 
    overflow: hidden;
    border: none; 
}
#GridOverviewstring_excelDlg > .e-footer-content {
    background: #41b8b6;
    text-align: center !important;
    color: white;
}
#GridOverviewstring_excelDlg > .e-footer-content  > button:first-child {
    color:white !important;
    width:fit-content;
    margin: auto;
}
#GridOverviewstring_excelDlg > .e-footer-content button:disabled {
    background-color: #41b8b6 !important;
    color: white !important;
   
}
.e-contextmenu-wrapper ul.e-contextmenu, .e-contextmenu-container ul.e-contextmenu {
    transform: translateX(30px);
}
.e-grid .e-search-icon::before, .e-grid-menu .e-search-icon::before {
    content: "\e744";
    font-size: 30px !important;
}
   .e-grid .e-checkboxlist {
    height: 100% !important;
}
.e-excelfilter .e-contextmenu-wrapper ul, .e-excelfilter .e-contextmenu-container ul:not(.e-ul) {
    max-width: 100% !important;
}
 .e-submenu.e-menu-item ,
.e-submenu.e-menu-item.e-focused.e-selected {
 visibility: hidden;
}
 .e-submenu.e-menu-item::after,
                    .e-submenu.e-menu-item.e-focused.e-selected::after {
                        content: "";
                        visibility: visible;
                        position: absolute;
                        left: 6px;
                    }
