
@page
<link rel="stylesheet" href="~/css/passport.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Circle Passport";
}

<section class="wrapper">
    <div class="mainContainer py-3">
      <nav style="--bs-breadcrumb-divider: ''" aria-label="breadcrumb">
        <ol class="breadcrumb d-flex align-items-center">
          <li class="breadcrumb-item">
            <a class="text-decoration-none textLight fs-12 medium" href="/"
              >Home</a
            >
          </li>
          <li class="mx-2"><img src="~/images/forward.png" alt="" /></li>
          <li
            class="breadcrumb-item active fs-12 medium pt-1"
            aria-current="page"
          >
            Circle Passport
          </li>
        </ol>
      </nav>
<!-- When passport is created -->
      <!-- <partial  name="components/_PassportDetails"/> -->
<!-- When passport is not created -->
<partial  name="components/_CreatePassport"/>
</div>
</section>


