@page

<body>

    <div style="background-color: #ffffff;" class=" text-center">
        <header>
            <nav style="background-color: white;" class="navbar navbar-main nav_sec py-3">
                <div class="container-fluid mainContainer justify-content-start align-items-center bg-white flex-nowrap">
    
                    <div class="">
                        <a href="/"> <img src="~/images/nocompromise.svg" alt="..."></a>
    
                    </div>
              
            </nav>
        </header>
        <div class=" container px-5  container-fluid ">
            <div>
                <img src="~/images/office.png" alt=""/>
            </div>    
            <h1>Instructions for configuring Circle Access to login into Windows and authenticate to Office 365 and other Saas apps</h1>
            <div class="d-flex row  cp-row">
                <div class="  text-start justify-content-between  col col-lg-6 col-md-12 col-sm-12 col-12">
                    <ul class="main_ul">
                        <li>Installation and setup of Circle Access</li>
                    </ul>
                    
                    <ol class="inst ">
                        <li>
                            <p>Download Circle Access app from App store</p>
                            <div class="d-flex gap-3 flex-nowrap align-items-center">
                                <img src="~/images/apple.svg" alt="app store logo" />
                                <img src="~/images/play_store.svg" alt="play store logo" />
                              </div>
    
                        </li>
                        <li>Open the app and select <b>"Settings"</b> at the bottom of the screen</li>
                        <li>Select <b>"My Emails" and then select "Add New Email"</b></li>
                        <li>Enter the email and complete the process by entering the verification code</li>
                    </ol>
                </div>
            
                <div  class=" imgs gap-4 flex-wrap col-lg-5 col-md-12 col-sm-12 col-12 row justify-content-center">
                    <div class="t_10 d-flex imgs gap-4 flex-wrap col-lg-12 col-md-12 col-sm-12 col-12 row justify-content-center">
                        <div class="col col-lg-4 col-md-4 col-sm-4 col-4 justify-content-around "><img src="~/images/phone.png" /> <h2>(1)</h2></div>
                        <div class="col col-lg-4 col-md-4 col-sm-4 col-4 justify-content-around "><img src="~/images/phone.png" /> <h2>(2)</h2></div>
                            </div>
                     <div class="d-flex imgs gap-4 flex-wrap col-lg-12 col-md-12 col-sm-12 col-12 row justify-content-center">
                        <div class="col col-lg-4 col-md-4 col-sm-4 col-4 justify-content-around "><img src="~/images/phone.png" /> <h2>(3)</h2></div>
            
                        <div class="col col-lg-4 col-md-4 col-sm-4 col-4 justify-content-around "><img src="~/images/phone.png" /> <h2>(4)</h2></div>
            
                        </div>
                </div>
    
            </div>
    
    
        
        </div>
    </div>
       
       
</body>

<style>
    .inst li{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .inst{
        padding-left: 50px;
    }
  .main_ul{
        font-size: 18px;
        font-weight: 400;
    }
    .flex-wrap div div h2{
        font-weight: 700;
        font-size: 20px;
    }
.imgs div img{
    height: 200px;
}
.t_10{
   transform:  translateX(-14px)
}
</style>